@import "tailwindcss";

:root {
  --orange: #D77C24;
  --orange-dark: #C06A15;
  --white: #ffffff;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: var(--orange);
  --color-orange-dark: var(--orange-dark);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
}
